* {
  box-sizing: border-box;
}

.flex-container {
  display: flex;
}

body {
  font-family: 'Roboto', sans-serif;
}

#site-header {
  font-family: 'Roboto Slab', serif;
  font-variant: small-caps;
}

/*
  Media query breakpoints from Skeleton (http://getskeleton.com/#queries)
*/

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {
  #site-content {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}
