* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

/* TODO avoid non-semantic styling-only classes */
.flex-container {
  display: flex;
}

body {
  font-family: 'Roboto', sans-serif;

  /* flex for  sticky footer (https://css-tricks.com/couple-takes-sticky-footer/) */
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

#site-header {
  font-family: 'Roboto Slab', serif;
  font-variant: small-caps;
  font-size: 3em;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

#site-logo {
  max-width: 3em;
}

#site-header h1 {
  margin: .33em 0;
}

#site-content {
  /* expand to fill */
  flex: 1 0 auto;
  padding: 20px;
}

#site-footer {
  flex-shrink: 0;
  padding: 20px;
  text-align: right;
}

/*
  Media query breakpoints from Skeleton (http://getskeleton.com/#queries)
*/

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {
  #site-content {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}
